<nav class="navbar navbar-expand-md fixed-top">
	<div class="container-fluid">
		<div class="row row-main-menu">
			<div class="col col-logo">
				<a routerLink="/home">
					<img alt="Vision 2 Estimating" src="assets/images/v2e-logo.png" height="3.2rem" class="img-logo-header">
				</a>
			</div>
			<div class="col col-appbar">
				<kendo-appbar [position]="'top'" class="kendo-appbar">
					<kendo-appbar-spacer></kendo-appbar-spacer>
					<kendo-appbar-section class="kendo-appbar-overflow-menu">
						MENU
					</kendo-appbar-section>
					<kendo-appbar-section class="kendo-appbar-admin-menu">
					</kendo-appbar-section>
				</kendo-appbar>
			</div>
		</div>
	</div>
</nav>

