::ng-deep .my-view-front-button {
    background: red;
  }
  ::ng-deep .my-view-back-button {
    background: blue;
  }
  ::ng-deep .costcode-button {
    background: url('https://img.icons8.com/material-outlined/48/stacked-organizational-chart.png');
  }